{% extends 'base/base.html.twig' %}

{% block title %}Builds{% endblock %}

{% block body %}

    <h1>Builds</h1>

    <table>
        <thead>
        <th>Name</th>
        <th>Release date</th>
        <th>Downloads</th>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}